<div>
    <div class="table-responsive">
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th>ID</th>
    				<th>Text</th>
    				<th>Level</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-if="log.logs.length > 0" ng-repeat="logItem in log.logs" ng-class="logItem.level">
    				<td ng-bind="logItem.id"></td>
    				<td ng-bind="logItem.text"></td>
    				<td ng-bind="logItem.level"></td>
   				</tr>
   				<tr ng-if="log.logs.length === 0">
   					<td colspan="3">No logs present.</td>
   				</tr>
    		</tbody>
    	</table>
    </div>
    
    <!--
    <button class="btn btn-lg btn-primary" ng-click="logout()">Logout</button>
   	-->
</div>