<form class="form-signin" ng-submit="loginSubmit()">
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" ng-model="login.email"
        ng-required="true" autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="login.password"
        ng-required="true">

    <div class="alert alert-danger" role="alert" ng-if="login.error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Wrong email or password!
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <br/>
    
    <!-- Google Plus button -->
    <google-plus-signin clientid="245806650191-37bq4sotn9jspuoseiej6li2hqtet5fn.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">
		<div id="my-custom-element">
			<button class="btn btn-lg btn-primary btn-block" type="button">Sign In With Google</button>
		</div>
  	</google-plus-signin>
</form>