<nav class="navbar navbar-default" ng-controller="menuController as mn">
  <div class="container-fluid">
    <div class="navbar-header">
        <span class="navbar-brand">Google App Engine Test</span>
    </div>
    <div>
		<ul class="nav navbar-nav">
			<li ng-repeat="m in mn.menuItems track by $index"
				ng-class="{'active': m && m.active}">
				<a ng-href="{{ mn.getRouteSref(m) }}" ng-bind="m.heading" />
			</li>
		</ul>
	</div>
  </div>
</nav>